<div class="container">
  <div class="row mb-3 align-items-center">
    <div class="col-md-6">
      <div class="d-flex">
        <input [(ngModel)]="searchQuery" type="text" class="form-control form-control-sm me-2" placeholder="Search users by name">
        <button (click)="search()" class="btn btn-primary btn-sm">Search</button>
      </div>
    </div>
    <div class="col-md-3 text-end">
      <button (click)="openUserForm(false)" class="btn btn-success btn-sm">Add User</button>
    </div>
    <div class="col-md-3 page-size-container">
      <label for="pageSize">Page Size: </label>
      <select id="pageSize" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()" class="form-select form-select-sm w-auto">
        <option [value]="2">2</option>
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="20">20</option>
      </select>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td colspan="2">
          <button (click)="openUserForm(true, user)" class="btn btn-warning edit-btn"><i class="bi bi-pencil"></i></button>
          <button (click)="deleteUser(user.id!)" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination-controls">
  <button (click)="onPageChange(pageNumber - 1)" [disabled]="pageNumber === 0">
    <</button>
      <span>Page {{ pageNumber + 1 }}</span>
      <button (click)="onPageChange(pageNumber + 1)" [disabled]="(pageNumber + 1) * pageSize >= totalUsers">></button>
</div>

<app-user-form></app-user-form>