Ensure the whole page is centered body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.search-container {
  margin-bottom: 20px;
  text-align: center;
}

.search-container input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
}

.search-container button {
  padding: 8px 16px;
  font-size: 16px;
  margin-left: 8px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 18px;
}

button:hover {
  background-color: #eaeaea;
  border-radius: 4px;
}

.fa {
  margin: 0 8px;
}

.fa-trash {
  color: #dc3545;
}

.fa-pencil-alt {
  color: #28a745;
}

.pagination-controls {
  text-align: center;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f9fa;
  color: #007bff;
  cursor: pointer;
}

.pagination-controls button:hover {
  background-color: #e9ecef;
}

.pagination-controls button:disabled,
.search-container button:disabled {
  background-color: #cccccc;
  color: #666666;
  border-color: #cccccc;
  cursor: not-allowed;
}

.pagination-controls button:hover:disabled {
  background-color: #cccccc;
}

.pagination-controls span {
  margin: 0 12px;
}